{% load static %}
<div class="{{bootstrap_container_class}}">
  <div class="card">
    <h3 class="card-header"><span class="audience">For readers:</span> Read my urban fantasy series, The Piero Codex</h3>
    <div class="card-body">
      <ol class="list-unstyled d-flex flex-row justify-content-between gap-1 flex-wrap">
        <li><a href="https://books2read.com/b/vv-cursing-fate"><img src="{% static 'veselosky.me/cover-PC1-CursingFate-portrait_medium.jpg'  %}" alt="Cursing Fate book cover"></a></li>
        <li><a href="https://books2read.com/b/vv-shifting-loyalties"><img src="{% static 'veselosky.me/cover-PC2-ShiftingLoyalties-portrait_medium.jpg'  %}" alt="Cursing Fate book cover"></a></li>
        <li><a href="https://books2read.com/b/vv-summoning-courage"><img src="{% static 'veselosky.me/cover-PC3-SummoningCourage-portrait_medium.jpg'  %}" alt="Cursing Fate book cover"></a></li>
      </ol>
    </div>
  </div>
</div>